[submodule ".oh-my-zsh"]
	path = personal/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "personal/.zsh/themes/powerlevel10k"]
	path = personal/.zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
